.div1{
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 20px;
    display: inline-block;
    border: 5px solid black;
}
.div2{
    width: 200px;
    height: 200px;
    background-color: green;
    margin: 20px;
    display: inline-block;
    border: 5px solid black;
}
.div3{
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 20px;
    display: inline-block;
    border: 5px solid black;
}